.marginBottom0{
	margin-bottom:0px;
}
.paddingBottom0{
	padding-bottom: 0px;
}
.alignRight{
	text-align: right;
}
.spinner{
	position: absolute;
	display: block;
	left: 43%;
	top: 30%;
	font-size: 64px;
	width: 200px;
	height: 200px;
}