.marginBottom0 {
  margin-bottom: 0px;
}
.paddingBottom0 {
  padding-bottom: 0px;
}
.alignRight {
  text-align: right;
}
.spinner {
  position: absolute;
  display: block;
  left: 43%;
  top: 30%;
  font-size: 64px;
  width: 200px;
  height: 200px;
}

.principal {
  /* Chrome, Safari, Opera */
  /* Standard syntax */
}
.principal .noAnimation {
  position: relative;
  top: 400px;
  left: 40%;
}
.principal .animation {
  position: relative;
  -webkit-animation-name: moveItToTheTop;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s;
  /* Chrome, Safari, Opera */
  animation-name: moveItToTheTop;
  animation-duration: 2s;
  left: 40%;
  top: 0px;
}
@-webkit-keyframes moveItToTheTop {
  0% {
    top: 400px;
  }
  10% {
    top: 390px;
  }
  95% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
@keyframes moveItToTheTop {
  0% {
    top: 400px;
  }
  10% {
    top: 390px;
  }
  95% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
.principal section.section--center {
  max-width: 860px;
}
.principal section > header > .material-icons {
  font-size: 3rem;
}
.principal section {
  position: relative;
  margin-bottom: 10px;
}
.principal section header {
  width: auto !important;
}
.principal section header img {
  max-height: 250px;
  max-width: 145px;
}
.principal .detailsButton {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
