.marginBottom0 {
  margin-bottom: 0px;
}
.paddingBottom0 {
  padding-bottom: 0px;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}
.spinner {
  position: absolute;
  display: block;
  left: 43%;
  top: 30%;
  font-size: 64px;
  width: 200px;
  height: 200px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  width: 120px;
  border-radius: 6px;
  position: absolute;
  z-index: 999;
  top: 20;
  left: 5;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  max-width: 170px;
  padding: 8px;
  text-align: center;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}
.tooltip:hover .tooltiptext {
  opacity: 0.9;
}

.detalhes .imgDetail {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.principal {
  /* Chrome, Safari, Opera */
  /* Standard syntax */
}
.principal .noAnimation {
  position: relative;
  top: 400px;
}
.principal .animation {
  position: relative;
  -webkit-animation-name: moveItToTheTop;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s;
  /* Chrome, Safari, Opera */
  animation-name: moveItToTheTop;
  animation-duration: 2s;
  top: 0px;
}
@-webkit-keyframes moveItToTheTop {
  0% {
    top: 400px;
  }
  10% {
    top: 390px;
  }
  95% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
@keyframes moveItToTheTop {
  0% {
    top: 400px;
  }
  10% {
    top: 390px;
  }
  95% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
.principal section.section--center {
  max-width: 860px;
}
.principal section > header > .material-icons {
  font-size: 3rem;
}
.principal section {
  position: relative;
  margin-bottom: 10px;
}
.principal section header {
  width: auto !important;
}
.principal section header img {
  max-height: 250px;
  max-width: 145px;
  vertical-align: middle;
}
.principal .detailsButton {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
@media only screen and (max-width: 594px) {
  .principal .mdl-cell--2-col-phone.movieDescription {
    width: 65% !important;
    float: right !important;
  }
}
