<div class="detalhes">
	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
	    <div class="mdl-card__supporting-text marginBottom0 paddingBottom0">
				<div class="mdl-spinner mdl-js-spinner is-active spinner" ng-if="loading == true"></div>
	    	<h5  ng-repeat="(key, value) in movieDetail">{{key}} : {{value}}</h5>
	    </div>
	  </div>
	</section>
	<img class="imgDetail" src="{{poster}}">
</div>