<div class="principal">
		<div ng-class="[{animation: animate}, {noAnimation: !animate}]">
		  <div ng-class="['mdl-textfield', 'mdl-js-textfield', 'mdl-textfield--floating-label', {'is-invalid is-dirty': isInvalid}]">
		    <input class="mdl-textfield__input" type="text" ng-model="movieName" >
		    <label class="mdl-textfield__label" for="movieName">Digite o nome do filme...</label>
		    <span class="mdl-textfield__error">Campo obrigatório.</span>
		  </div>
		  <button class="mdl-button mdl-js-button mdl-button--fab" ng-click="searchMovie()">OK</button>
		</div>

		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-repeat="movie in movies">
      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <img src="{{movie.Poster}}">
      </header>
      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text marginBottom0 paddingBottom0">
          <h2>{{movie.Title}}</h2>
        </div>
        <div class="mdl-card__actions">
          <div class="mdl-button  marginBottom0 paddingBottom0">Detalhes</div>
        </div>
      </div>
    </section>
</div>