<div class="principal">
		<div ng-class="[{animation: animate}, {noAnimation: !animate}]">
		  <div ng-class="['mdl-textfield', 'mdl-js-textfield', 'mdl-textfield--floating-label', {'is-invalid is-dirty': isInvalid}]">
		    <input class="mdl-textfield__input" type="text" ng-model="movieName" >
		    <label class="mdl-textfield__label" for="movieName">Digite o nome do filme...</label>
		    <span class="mdl-textfield__error">Campo obrigatório.</span>
		  </div>
		  <button class="mdl-button mdl-js-button mdl-button--fab" ng-click="searchMovie()">OK</button>
		</div>
</div>